---
title: "Daytrip"
posted: 2015-04-19
project: true
layout: project.hbs
projectImage: "/assets/daytrip/dt-link.jpg"
---

  <header class="project__header">
    <img src="/assets/daytrip/dt-header.jpg" alt="">
  </header>

  <article class="project__content">
    <div class="project__info">
      <h1>DAYTRIP</h1>
      <ul>
        <li>App</li>
        <li>UI/UX</li>
        <li>Travel</li>
      </ul>
    </div>
    <div class="project__description">
      <p>Day-Trip is a small web application that allows you to choose a location or use your current location to find activities and things to do around you. Once you’ve found something interesting, you can drag the activity to your timeline and create a plan for the whole day. Once you’ve finalized your timeline, you’ll be able to share with your friends thru a unique link that’ll let them view a copy of your timeline.</p>
      <p>Day-Trip puts a focus on trying something new that you might otherwise not be exposed to. There are countless places and activities to do in nearly every city that don’t get enough love. Day-Trip seeks to bring out the adventurer in everyone whether your medium is outdoors activities or trying a new restaurant or visiting a local landmark. Day-Trip wants to help you find what you’re doing this weekend.</p>
    </div>
  </article>

  <section class="project__identity">
    <section class="identity__sketch">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/daytrip/dt-logo1.jpg" alt="">
    </section>
    <section class="identity__finished">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/daytrip/dt-logo2.jpg" alt="">
    </section>
    <section class="identity__description">
      <h1>Logo</h1>
      <p>After experimenting with hand-done script and an icon that incorporated the name into a backpack, a more simple approach was taken with a slab serif font and road lane markers. This portrays the idea of going on a trip and is a simple enough logo to be used at a small scale in a mobile app.</p>
    </section>
  </section>

  <section class="project__template project__template--tri-text-double">
    <div class="project__template-row">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/daytrip/dt-logo3.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/daytrip/dt-logo4.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/daytrip/dt-logo5.jpg" alt="">
      </section>
    </div>
    <div class="project__template-row">
      <section class="project__blurb">
        <h1>UI</h1>
        <p>The UI for Daytrip is centered around photography, iconography, and color-coding. The photography gives off a feeling of being out and doing things, interacting with the world. The clean icons help identify each category of activity, as well as the color-coding, on the choosing screen and the timeline,which are the central components of the app.</p>
      </section>
      <section class="project__image project__image--double">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/daytrip/dt-desktop.jpg" alt="">
      </section>
    </div>
  </section>

  <section class="project__template project__template--two-tall-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/daytrip/dt-mock.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/daytrip/dt-phone.jpg" alt="">
    </section>
  </section>

  <footer class="project__footer">
    <img src="/assets/daytrip/dt-bottom.jpg" alt="" class="footer__image">
  </footer>