---
title: "Daytrip"
posted: 2015-04-19
project: true
layout: project.hbs
projectImage: "/assets/daytrip/dt-link.jpg"
---

  <header class="project__header">
    <img src="/assets/daytrip/dt-header.jpg" alt="">
  </header>

  <article class="project__content">
    <div class="project__info">
      <h1>DAYTRIP</h1>
      <ul>
        <li>App</li>
        <li>UI/UX</li>
        <li>Travel</li>
      </ul>
    </div>
    <div class="project__description">
      <p>
  Even when living in a large city, it’s often hard to get out and do new things. People are simply used to what they already know and like. Daytrip is an app that can solve this issue. Users select a location (or use their own location) and then go through various categories of interest, such as hiking or food, and the app uses Yelp to generate options in that location that will connect to the category. Filters for price, difficulty level (for hiking), cuisine type (for food), and many other options are available. Once the user finds an option they like, they drop it into a timeline for the day. When finished making their timeline, the user can save it to their account, or share it with friends, even if their friends are not on Daytrip.</p><p>
  CHALLENGE</br>
  Encourage people to explore their surroundings and to not fall into a rut.<p>
  SOLUTION</br>
  Place new outing options right in their hand, and allow them to share with others, encouraging socialization outside of technology.</p>
    </div>
  </article>

  <section class="project__identity">
    <section class="identity__sketch">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/daytrip/dt-logo1.jpg" alt="">
    </section>
    <section class="identity__finished">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/daytrip/dt-logo2.jpg" alt="">
    </section>
    <section class="identity__description">
      <h1>Logo</h1>
      <p>After experimenting with hand-done script and an icon that incorporated the name into a backpack, a more simple approach was taken with a slab serif font and road lane markers. This portrays the idea of going on a trip and is a simple enough logo to be used at a small scale in a mobile app.</p>
    </section>
  </section>

  <section class="project__template project__template--tri-text-double">
    <div class="project__template-row">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/daytrip/dt-logo3.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/daytrip/dt-logo4.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/daytrip/dt-logo5.jpg" alt="">
      </section>
    </div>
    <div class="project__template-row">
      <section class="project__blurb">
        <h1>UI</h1>
        <p>The UI for Daytrip is centered around photography, iconography, and color-coding. The photography gives off a feeling of being out and doing things, interacting with the world. The clean icons help identify each category of activity, as well as the color-coding, on the choosing screen and the timeline,which are the central components of the app.</p>
      </section>
      <section class="project__image project__image--double">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/daytrip/dt-desktop.jpg" alt="">
      </section>
    </div>
  </section>

  <section class="project__template project__template--two-tall-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/daytrip/dt-mock.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/daytrip/dt-phone.jpg" alt="">
    </section>
  </section>

  <footer class="project__footer">
    <img src="/assets/daytrip/dt-bottom.jpg" alt="" class="footer__image">
  </footer>