---
title: "Test Project"
posted: 2015-04-19
project: true
layout: project.hbs
projectImage: "/assets/frb/es-link.jpg"
---

  <header class="project__header">
    <img src="/assets/frb/es-header.jpg" alt="">
  </header>

  <article class="project__content">
    <div class="project__info">
      <h1>AMBIGUITY &amp; TRUTH</h1>
      <ul>
        <li>Typography</li>
        <li>Book-Making</li>
        <li>Resource</li>
      </ul>
    </div>
    <div class="project__description">
      <p>Typeface selection is a central part of design, but with the vast variety of typefaces available it is sometimes overwhelming to choose one. The Font Resource Book is a compilation of 25 typefaces put together in one useful guide, interwoven with an essay on design.</p>
      <p>The essay is “Ambiguity and Truth” by designer Milton Glaser. He speaks on the contradictions and multitude of lies we encounter every day through advertising. This book integrates the essay and the specimens as two contradictory things, portraying Glaser’s commentary on the battle between truth and lies. The dividers between the classification sections have flaps that hide the page behind it. The reader reads a part of two different sentences and is fooled until turning the flap and uncovering the real information.</p>
    </div>
  </article>

  <section class="project__identity">
    <section class="identity__sketch">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/frb/es-logo1.jpg" alt="">
    </section>
    <section class="identity__finished">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/frb/es-logo2.jpg" alt="">
    </section>
    <section class="identity__description">
      <h1>Logo</h1>
      <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
    </section>
  </section>

  <section class="project__template project__template--tri-text-double">
    <div class="project__template-row">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/frb/es-logo3.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/frb/es-logo4.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/frb/es-logo5.jpg" alt="">
      </section>
    </div>
    <div class="project__template-row">
      <section class="project__blurb">
        <h1>Poster</h1>
        <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
      </section>
      <section class="project__image project__image--double">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/frb/es-ticket.jpg" alt="">
      </section>
    </div>
  </section>

  <section class="project__template project__template--two-tall-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/frb/es-badge.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/frb/es-posters.jpg" alt="">
    </section>
  </section>


  <footer class="project__footer">
    <img src="h/assets/frb/es-bottom.jpg" alt="" class="footer__image">
  </footer>