---
title: "Earth Savvy"
posted: 2015-04-19
project: true
layout: project.hbs
projectImage: "/assets/es/es-link.jpg"
---

  <header class="project__header">
    <img src="/assets/es/es-header.jpg" alt="">
  </header>

  <article class="project__content">
    <div class="project__info">
      <h1>EARTH SAVVY</h1>
      <ul>
        <li>Environmental</li>
        <li>Poster Illustration</li>
        <li>Event Promotion</li>
      </ul>
    </div>
    <div class="project__description">
      <p>
Lately, the environment and its protection has been a common topic of discussion in the world. We are quickly and brutally destroying the world around us. While most of us are aware that this is an issue, we are unaware of how drastic it is, and we do not care enough to do anything about it.
As a result, the problem is only worsening and people need to act fast in order to change course. Earth Savvy is a conference based on these issues and examines potential solutions. Most of the time when we see posters or other calls-to-action to save the environment, they are paired with dramatic photos of the earth and the effects we have on it. Obviously, that approach
is not working very well. Instead, Earth Savvy uses a colorful, illustrative, and much more toned-down style to catch the attention of those who are not impacted by existing advertisements.</p><p>
      CHALLENGE</br>
      Get the public to pay attention to environmental issues, and convince them that it is imperative for everyone to become involved to correct the problem.<p>
      SOLUTION</br>
      Design a lively campaign to draw in those people who do not usually pay attention to these issues.</p>
    </div>
  </article>

  <section class="project__identity">
    <section class="identity__sketch">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/es/es-logo1.jpg" alt="">
    </section>
    <section class="identity__finished">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/es/es-logo2.jpg" alt="">
    </section>
    <section class="identity__description">
      <h1>Logo</h1>
      <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
    </section>
  </section>

  <section class="project__template project__template--tri-text-double">
    <div class="project__template-row">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/es/es-logo3.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/es/es-logo4.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/es/es-logo5.jpg" alt="">
      </section>
    </div>
    <div class="project__template-row">
      <section class="project__blurb">
        <h1>Poster</h1>
        <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
      </section>
      <section class="project__image project__image--double">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/es/es-ticket.jpg" alt="">
      </section>
    </div>
  </section>

  <section class="project__template project__template--two-tall-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/es/es-badge.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/es/es-posters.jpg" alt="">
    </section>
  </section>


  <footer class="project__footer">
    <img src="/assets/es/es-bottom.jpg" alt="" class="footer__image">
  </footer>