<header class="header">
  <div class="header__logo">
    <a href="/">
      <svg class="logo__site"><use xlink:href="#icon-site-logo" /></svg>
    </a>
  </div>
  <nav class="header__nav--social">
    <ul class="menu social">
{{!--       <li class="social__item"><a href="https://dribbble.com/amyconcepcion" target="_blank" class="social__link" title="Amy Concepcion on Dribbble">
          <svg class="icon social__icon--dribbble">
            <use xlink:href="#icon-dribbble" />
          </svg>
        </a></li> --}}
      <li class="social__item"><a href="https://twitter.com/amyco_design" target="_blank" class="social__link" title="Amy Concepcion on Twitter">
          <svg class="icon social__icon--twitter">
            <use xlink:href="#icon-twitter" />
          </svg>
        </a></li>
      <li class="social__item"><a href="https://www.linkedin.com/in/amyconcepcion" target="_blank" class="social__link" title="Amy Concepcion on Linkedin">
          <svg class="icon social__icon--linkedin">
            <use xlink:href="#icon-linkedin" />
          </svg>
        </a></li>
      <li class="social__item"><a href="https://behance.net/amyconcepcion" target="_blank" class="social__link" title="Amy Concepcion on Behance">
          <svg class="icon social__icon--behance">
            <use xlink:href="#icon-behance" />
          </svg>
        </a></li>
    </ul>
  </nav>
  <nav class="header__nav">
    <ul class="menu">
      <li class="menu__item"><a href="/my-work/" class="menu__link">My Work</a></li>
      <li class="menu__item"><a href="/about/" class="menu__link">About</a></li>
      <li class="menu__item"><a href="/contact/" class="menu__link">Contact</a></li>
    </ul>
  </nav>
</header>