<footer class="footer">
  <section class="footer__copyright">Copyright&copy; Amy Concepcion 2015</section>
  <section class="footer__attribution">Developed with the help of Scott Engert</section>
</footer>