---
title: "Contact"
---

<section class="contact">
  <section class="contact__blurb">
    <h1>Should we talk about this?</h1>
  </section>
  <section class="contact__info">
    <div class="info__email">
      <a href="amycodesign@gmail.com">amycodesign@gmail.com</a>
    </div>
    <div class="info__phone">
      <a href="">619.201.1633</a>
    </div>
  </section>
  <section class="contact__resources">
    <div class="resources__downloads">
      <a href="#" class="download">Resume [pdf]</a>
      <a href="#" class="download">Work Samples [pdf]</a>
    </div>
    <nav class="contact__social">
      <ul class="menu">
        <li class="menu__item"><a href="#" class="menu__link">Dribble</a></li>
        <li class="menu__item"><a href="#" class="menu__link">twitter</a></li>
        <li class="menu__item"><a href="#" class="menu__link">linkedin</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Behance</a></li>
      </ul>
    </nav>
  </section>
</section>