.project {
  &__content {
    display: flex;
    padding: 100px 0;
    @include media-mobile {
      display: block;
    }
  }

  &__info {
    width: span(1);
    padding-left: $default-margin;

    h1 {
      @extend %header-font;
      font-size: 36px;
      line-height: 36px;
    }

    ul {
      padding-left: 20px;
      text-transform: uppercase;
    }
      @extend %project-bob;
  }
  &__description {
    width: span(2);
    margin-left: $margin;
    padding-right: $default-margin;
    @extend %project-bob;
    @include media-mobile {
      padding: $default-margin;
    }
  }
}