.identity {

  &__sketch {
    width: span(1);
    float: left;
  }

  &__finished,
  &__description {
    margin-left: 1.667%;
    width: span(1);
    float: left;
  }

  &__sketch,
  &__finished {
    position: relative;
    .expander {
      position: relative;
      // padding-bottom: 90%;
      padding-bottom: 110.96%;
      height: 0;
    }

    img {
      position: absolute;
      top: 0;
    }
  }
  &__description {
    padding-right: $default-margin;

    h1 {
      @extend %header-font;
      font-size: 30px;
    }

    p {
      line-height: 2;
    }
  }

}