.project {
  &__content {
    display: flex;
    padding: 100px 0;
  }

  &__info {
    width: span(1);
    padding-left: $default-margin;

    h1 {
      @extend %header-font;
      font-size: 36px;
      line-height: 36px;
    }
  }
  &__description {
    width: span(2);
    margin-left: $margin;
    padding-right: $default-margin;
  }
}