.project__template {
  .project__template-row {
    display: flex;
    // &:first-child {
      margin-bottom: 25px;
    // }

    @include media-mobile {
      display: block;
    }
  }

  .project__image {
    position: relative;
    overflow: hidden;

    .expander {
      position: relative;
      height: 0;
    }

    img {
      position: absolute;
      // top: 0;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      min-height: 100%;
      min-width: 100%;
    }
  }

  .project__blurb {
    h1 {
      @extend %header-font;
      font-size: 30px;
    }
  }
}


.project__template--tri-text-double {

  .project__image {
    width: span(1);
    margin-left: $margin;
    position: relative;
    overflow: hidden;
    &:first-child {
      margin-left: 0;
      // width: span(1);
    }

    .expander {
      padding-bottom: 52.219%;
    }

    @extend %project-bob;
  }

  .project__blurb {
    width: span(1);
    padding: $default-margin;
    padding-right: 0;
      @extend %project-bob;
  }

  .project__image--double {
    width: span(2);
    margin-left: 1.667%;

    .expander {
      padding-bottom: 59.975%;
    }
    @extend %project-bob;
  }
}


.project__template--two-tall-right {
  display: flex;
  margin-bottom: 25px;

  .project__image:first-child {
    width: span(1);
    .expander {
      padding-bottom: 176.24%;
    }
    @extend %project-bob;
  }
  .project__image:nth-child(2) {
    width: span(2);
    margin-left: $margin;
    .expander {
      padding-bottom: 82.07%;
    }
    @extend %project-bob;
  }

}


.project__template--two-right {
  display: flex;
  margin-bottom: 25px;

  .project__image:first-child {
    width: span(2);
    .expander {
      padding-bottom: 53.662%;
    }
    @extend %project-bob;
  }
  .project__image:nth-child(2) {
    width: span(1);
    margin-left: $margin;
    .expander {
      padding-bottom: 110.966%;
    }
    @extend %project-bob;
  }
}


.project__template--two-tall-right-stack {
  display: flex;
  margin-bottom: 25px;

  .project__image {
    width: span(1);
    .expander {
      padding-bottom: 176.24%;
    }
    @extend %project-bob;
  }

  .template__stacked {
    width: span(2);
    margin-left: $margin;
    display: flex;
    flex-direction: column;
    @extend %project-bob;

    @include media-mobile {
      display: block;
    }

    .project__blurb {
      padding: $default-margin;
      padding-left: 0;
      flex: 1;
      margin-bottom: 25px;
    }
    .project__image {
      width: 100%;
      height: auto;
      flex-basis: auto;
      flex: 2;

      .expander {
        padding-bottom: 53.662%;
      }
      @extend %project-bob;
    }
  }
}


.project__template--four-tall-left-stack {
  display: flex;
  margin-bottom: 25px;
  .template__stacked {
    display: flex;
    flex-direction: column;
    width: span(1);
      @extend %project-bob;
    .project__image {
      flex: 1;
      width: 100%;
      margin-bottom: 25px;
      overflow: hidden;
    }
    .project__blurb {
      flex: 1;
      padding: $default-margin;
    }
  }

  > .project__image {
    width: span(2);
    margin-left: $margin;
    .expander {
      padding-bottom: 110.479%;
    }
      @extend %project-bob;
  }

}



