.menu {
  @extend %menulink;
  height: 50px;
  line-height: 50px;
  // float: left;
  text-align: center;

  &__item {
    font-size: 20px;
    display: inline-block;
  }

  &__link {
    text-decoration: none;
    color: $c-gray;
    padding: 15px 30px;
    letter-spacing: .05em;
    @include media-mobile {
      padding: 15px 10px 0;
    }

    &:hover {
      color: rgb(245,100,150);
    }
  }
}

@include media-mobile {
  .header__nav .menu {
    height: auto;
    line-height: normal;
    margin-top: 15px;
  }
}