.social {
  float: right;

  &__item {
    display: inline-block;
    padding: 5px;
  }

  &__link {
    display: block;

  }

  .icon {
    height: 20px;
    width: 20px;
    fill: $c-gray;
    transition-property: fill;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }

  a:hover {
    .social__icon {

      &--dribbble {
        fill: $c-dribbble;
      }

      &--twitter {
        fill: $c-twitter;
      }

      &--linkedin {
        fill: $c-linkedin;
      }

      &--behance {
        fill: $c-behance;
      }
    }
  }
}