---
title: "Welcome"
posted: 2015-04-17
---


{{!-- <p>Welcome to the site</p> --}}
<section class="homepage__image">
  <a href="my-work"><img src="/assets/hero_img.png" alt="" class="image"></a>
</section>