---
title: "Spicery"
posted: 2015-04-19
project: true
layout: project.hbs
projectImage: "/assets/spicery/spice-link.jpg"
---

  <header class="project__header">
    <img src="/assets/spicery/spice-header.jpg" alt="">
  </header>

  <article class="project__content">
    <div class="project__info">
      <h1>SPICERY</h1>
      <ul>
        <li>Branding</li>
        <li>Packing</li>
        <li>Food</li>
      </ul>
    </div>
    <div class="project__description">
      <p>The task for this project was to design expressive packaging based on a food dish that we have a personal connection with, such as a dish that our mother always used to cook, and choose three of its spices to package together. Arroz con Gandules (Rice with Pigeon Peas) is something Puerto Rican families always have at get-togethers. Three main spices for this dish are: Adobo, Sazón, and Basil.</p>
      <p>The overall package design portrays the friendly, communal aspects of this dish and its culture. Stylized utensil icons match the curves of the logo, and people icons create the feeling of a get-together. The design is very inviting and its playfulness would catch the attention of people walking by and looking on shelves.</p>
    </div>
  </article>

  <section class="project__identity">
    <section class="identity__sketch">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/spicery/spice-logo1.jpg" alt="">
    </section>
    <section class="identity__finished">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/spicery/spice-logo2.jpg" alt="">
    </section>
    <section class="identity__description">
      <h1>Logo</h1>
      <p>The logo needed to be friendly and also elegant, as this is a dish used for get-togethers and big events. After experimenting with sketching with paint and Sharpie, this curvy bold hand-done custom logo was chosen.</p>
    </section>
  </section>

  <section class="project__template project__template--tri-text-double">
    <div class="project__template-row">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/spicery/spice-logo3.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/spicery/spice-logo4.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/spicery/spice-logo5.jpg" alt="">
      </section>
    </div>
    <div class="project__template-row">
      <section class="project__blurb">
        <h1>Pattern</h1>
        <p>Icons of utensils and people were developed. They are used on/inside the package and on the jar labels. Not only do they portray the fact that this is a communal dish, but they are also eye-catching and fun.</p>
      </section>
      <section class="project__image project__image--double">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/spicery/spice-pattern.jpg" alt="">
      </section>
    </div>
  </section>

  <section class="project__template project__template--two-tall-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/spicery/spice-template.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/spicery/spice-package.jpg" alt="">
    </section>
  </section>

  <section class="project__template project__template--two-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/spicery/spice-jars4.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/spicery/spice-jars2.jpg" alt="">
    </section>
  </section>

  <section class="project__template project__template--two-tall-right-stack">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/spicery/spice-jars1.jpg" alt="">
    </section>

    <section class="template__stacked">
      <section class="project__blurb">
        <h1>Jars</h1>
        <p>The jars take the "S" from the logo and use it as a marker, and they also utilize the utensil and people icons from the patterns on the package. The small jars come inside the package, while the larger jars are for separate purchase.</p>
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/spicery/spice-jars3.jpg" alt="">
      </section>
    </section>

  </section>



  <footer class="project__footer">
    <img src="/assets/spicery/spice-bottom.jpg" alt="" class="footer__image">
  </footer>