---
title: "About"
---

<section class="about">
  <section class="about__blurb">
    <h1>Hi There</h1>
    <ul>
      <li>Action Movie Junkie</li>
      <li>Roller Coaster Afficianado</li>
      <li>Your New Designer</li>
    </ul>
  </section>
  <section class="about__info">
    <p>Hello! I am a recent Graphic Design graduate, with web experience, at San Diego State University. I am enthusiastic and driven and I am searching for a great place to expand creatively and make my mark. My various school projects have prepared me for a graphic and/or web design position and I am extremely excited for what is to come.</p>
    <p>Let's make something happen!</p>
  </section>
</section>