---
title: "About"
---

<section class="about">
  <section class="about__blurb">
    <h1>Hi There</h1>
    <ul>
      <li>Action Movie Junkie</li>
      <li>Roller Coaster Afficianado</li>
      <li>Your New Designer</li>
    </ul>
  </section>
  <section class="about__info">
    <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
    <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
  </section>
</section>