---
title: "WESTBOUND Bar & Grill"
posted: 2015-04-19
project: true
layout: project.hbs
projectImage: "/assets/wb/wb-link.jpg"
---

  <header class="project__header">
    <img src="/assets/wb/wb-header.jpg" alt="">
  </header>

  <article class="project__content">
    <div class="project__info">
      <h1>Westbound <br/> Bar &amp; Grill</h1>
      <ul>
        <li>Branding</li>
        <li>Packaging</li>
        <li>Hospitality</li>
      </ul>
    </div>
    <div class="project__description">
      <p>Most restaurants rely heavily on their food to bring customers through their doors. These brands use photography to convince the public to come in and try that savory hamburger seen in the advertisement. Westbound takes a different approach: it uses mainly typography to convey an atmosphere. The brand developed from the notion that the Wild West was a free, rugged, untouched stretch of open desert. It was a place with the rough and tough cowboys and sheriffs riding around on horseback not daring to mess with each other. The Westbound brand mixes old and new to create an inviting atmosphere. The rough texture, bold colors, and loud type portray the idea that this is a strong environment where customers will have a kicked-back bite or drink. Westbound embodies everything the Wild West represents: excitement, freedom, and even a little rowdiness.</p><p>
      CHALLENGE</br>
      Draw a young 20s & 30s, carefree, mostly male crowd into a restaurant without showing them any of the food.<p>
      SOLUTION</br>
      Create a brand that portrays a compelling theme and a strong attitude, and use typography, texture, and wording to spark customers’ interest.</p>
    </div>
  </article>

  <section class="project__identity">
    <section class="identity__sketch">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/wb/wb-logo1.jpg" alt="">
    </section>
    <section class="identity__finished">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/wb/wb-logo2.jpg" alt="">
    </section>
    <section class="identity__description">
      <h1>Logo</h1>
      <p>After extensive sketching, brainstorming, research, and exploration, 3 directions were arrived at (below). The first was based on a cowboy's lasso, the second on a branding iron, and the third a combination of the two: a horse and the tail enclosing the "W," representing a branding iron. The third direction was chosen is it evokes a modernity while still harkening back to the Wild West.</p>
    </section>
  </section>

  <section class="project__template project__template--tri-text-double">
    <div class="project__template-row">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/wb/wb-logo3.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/wb/wb-logo4.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/wb/wb-logo5.jpg" alt="">
      </section>
    </div>
    <div class="project__template-row">
      <section class="project__blurb">
        <h1>Poster</h1>
        <p>For the branding of the restaurant, a typographic approach was taken to all touchpoints. Slab serif fonts were used to convey woodblock type, beginning with this poster and its puzzle-piece arrangement, much like that of traditional woodblock type.</p>
      </section>
      <section class="project__image project__image--double">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/wb/wb-poster.jpg" alt="">
      </section>
    </div>
  </section>

  <section class="project__template project__template--two-tall-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/wb/wb-menu1.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/wb/wb-menu2.jpg" alt="">
    </section>
  </section>

  <section class="project__template project__template--two-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/wb/wb-fliers.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/wb/wb-shirt.jpg" alt="">
    </section>
  </section>

  <section class="project__template project__template--two-tall-right-stack">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/wb/wb-coasters1.jpg" alt="">
    </section>

    <section class="template__stacked">
      <section class="project__blurb">
        <h1>Coasters &amp; BBQ Sauce</h1>
        <p>An obvious restaurant item, coasters were made using phrases from the poster on one side, and the shorthand mark on the other side. 2 sets were made: one with the textured paper background and one with the red background. As for the barbeque sauce, the same woodblock type approach and the naming is inspired by Wild West terms and a strong brand voice.</p>
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/wb/wb-coasters2.jpg" alt="">
      </section>
    </section>

  </section>


  <section class="project__template project__template--four-tall-left-stack">

    <section class="template__stacked">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/wb/wb-bbq1.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/wb/wb-bbq2.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/wb/wb-bbq3.jpg" alt="">
      </section>
      <section class="project__blurb">
        <h1>Brand Collateral</h1>
        <p>For the doggy bags, quotes were placed in an arrangement that was then grouped and repeated across one side of the bag, with the logo on the other side. A clipboard for checks as also produced, along with burger-wrap paper.</p>
      </section>
    </section>

    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/wb/wb-bbq.jpg" alt="">
    </section>
  </section>


  <footer class="project__footer">
    <img src="/assets/wb/wb-bottom.jpg" alt="" class="footer__image">
  </footer>