.header:before, .footer:before, .projects__row:before, .header:after, .footer:after, .projects__row:after {
  content: '';
  clear: both;
  display: block;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.homepage__image img, .project__header img, .project__footer img {
  width: 100%;
  display: block;
}

.about__blurb h1, .contact__blurb, .contact__info, .contact__resources, .project__info h1, .identity__description h1, .project__template .project__blurb h1 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.05em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
}

h1, h2,
h3, h4,
h5, h6 {
  margin: 0;
  line-height: 1.5;
}

p {
  margin-top: 0;
  line-height: 2;
}

main {
  padding-bottom: 82px;
  min-height: Calc(100% - 110px);
}

.header {
  background-color: #f7f3f1;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  padding: 30px 50px;
  position: relative;
  z-index: 2;
}
.header__logo {
  width: auto;
  float: left;
}
.header__logo a,
.header__logo .logo__site {
  height: 50px;
  display: block;
  fill: #f56496;
}
.header__logo .logo__site {
  width: 130px;
}
.header__nav a {
  font-family: "Bebas Neue", sans-serif;
}

.menu {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.menu__item {
  font-size: 20px;
  display: inline-block;
}
.menu__link {
  text-decoration: none;
  color: #7f7f7f;
  padding: 15px 30px;
  letter-spacing: .05em;
}
.menu__link:hover {
  color: #f56496;
}

.social {
  float: right;
}
.social__item {
  display: inline-block;
  padding: 5px 7px;
}
.social__link {
  display: block;
}
.social .icon {
  height: 20px;
  width: 20px;
  fill: #7f7f7f;
  transition-property: fill;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
.social a:hover .social__icon--dribbble {
  fill: #ea4c89;
}
.social a:hover .social__icon--twitter {
  fill: #55acee;
}
.social a:hover .social__icon--linkedin {
  fill: #0077b5;
}
.social a:hover .social__icon--behance {
  fill: #3fc0f0;
}

.footer {
  background-color: #f7f3f1;
  padding: 30px 50px;
  margin-top: -82px;
}
.footer__copyright {
  float: left;
}
.footer__attribution {
  display: none;
}

.about {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 50px;
}
.about__blurb {
  width: 32.17%;
}
.about__blurb h1 {
  font-size: 32px;
}
.about__blurb ul {
  padding-left: 20px;
  text-transform: uppercase;
}
.about__info {
  width: 66.007%;
  margin-left: 1.667%;
}
.about__info p {
  line-height: 2;
}

.contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.contact__blurb, .contact__info, .contact__resources {
  width: 32.17%;
  margin-left: 1.667%;
  font-size: 30px;
  color: #7f7f7f;
}
.contact__blurb {
  padding-left: 50px;
}
.contact__blurb h1 {
  line-height: 1em;
}
.contact .download {
  display: block;
}
.contact a {
  text-decoration: none;
  color: #7f7f7f;
}
.contact .info__email,
.contact .resources__downloads {
  margin-bottom: 50px;
}
.contact__social .menu {
  text-align: left;
}
.contact__social .icon {
  height: 30px;
  width: 30px;
  fill: #7f7f7f;
  transition-property: fill;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
.contact__social a:hover .social__icon--dribbble {
  fill: #ea4c89;
}
.contact__social a:hover .social__icon--twitter {
  fill: #55acee;
}
.contact__social a:hover .social__icon--linkedin {
  fill: #0077b5;
}
.contact__social a:hover .social__icon--behance {
  fill: #3fc0f0;
}

.projects__row {
  margin: 50px 0;
}

.projects__imglink {
  width: 32.17%;
  display: block;
  margin-left: 1.667%;
  float: left;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.projects__imglink:first-child {
  margin-left: 0;
}
.projects__imglink:nth-child(4n) {
  margin-left: 0;
}
.projects__imglink .expander {
  position: relative;
  width: 100%;
  padding-bottom: 52.219%;
}
.projects__imglink img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
}
.projects__imglink img:hover {
  opacity: .825;
}

.project__identity {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.project__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.project__info {
  width: 32.17%;
  padding-left: 50px;
}
.project__info h1 {
  font-size: 36px;
  line-height: 36px;
}
.project__info ul {
  padding-left: 20px;
  text-transform: uppercase;
}
.project__description {
  width: 66.007%;
  margin-left: 1.667%;
  padding-right: 50px;
}

.identity__sketch {
  width: 32.17%;
  float: left;
}
.identity__finished, .identity__description {
  margin-left: 1.667%;
  width: 32.17%;
  float: left;
}
.identity__sketch, .identity__finished {
  position: relative;
  overflow: hidden;
}
.identity__sketch .expander, .identity__finished .expander {
  position: relative;
  padding-bottom: 110.96%;
  height: 0;
}
.identity__sketch img, .identity__finished img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
}
.identity__description {
  padding-right: 50px;
}
.identity__description h1 {
  font-size: 30px;
}
.identity__description p {
  line-height: 2;
}

.project__template .project__template-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.project__template .project__image {
  position: relative;
  overflow: hidden;
}
.project__template .project__image .expander {
  position: relative;
  height: 0;
}
.project__template .project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  min-height: 100%;
  min-width: 100%;
}
.project__template .project__blurb h1 {
  font-size: 30px;
}

.project__template--tri-text-double .project__image {
  width: 32.17%;
  margin-left: 1.667%;
  position: relative;
  overflow: hidden;
}
.project__template--tri-text-double .project__image:first-child {
  margin-left: 0;
}
.project__template--tri-text-double .project__image .expander {
  padding-bottom: 52.219%;
}
.project__template--tri-text-double .project__blurb {
  width: 32.17%;
  padding: 50px;
  padding-right: 0;
}
.project__template--tri-text-double .project__image--double {
  width: 66.007%;
  margin-left: 1.667%;
}
.project__template--tri-text-double .project__image--double .expander {
  padding-bottom: 59.975%;
}

.project__template--two-tall-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.project__template--two-tall-right .project__image:first-child {
  width: 32.17%;
}
.project__template--two-tall-right .project__image:first-child .expander {
  padding-bottom: 176.24%;
}
.project__template--two-tall-right .project__image:nth-child(2) {
  width: 66.007%;
  margin-left: 1.667%;
}
.project__template--two-tall-right .project__image:nth-child(2) .expander {
  padding-bottom: 82.07%;
}

.project__template--two-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.project__template--two-right .project__image:first-child {
  width: 66.007%;
}
.project__template--two-right .project__image:first-child .expander {
  padding-bottom: 53.662%;
}
.project__template--two-right .project__image:nth-child(2) {
  width: 32.17%;
  margin-left: 1.667%;
}
.project__template--two-right .project__image:nth-child(2) .expander {
  padding-bottom: 110.966%;
}

.project__template--two-tall-right-stack {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.project__template--two-tall-right-stack .project__image {
  width: 32.17%;
}
.project__template--two-tall-right-stack .project__image .expander {
  padding-bottom: 176.24%;
}
.project__template--two-tall-right-stack .template__stacked {
  width: 66.007%;
  margin-left: 1.667%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project__template--two-tall-right-stack .template__stacked .project__blurb {
  padding: 50px;
  padding-left: 0;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 25px;
}
.project__template--two-tall-right-stack .template__stacked .project__image {
  width: 100%;
  height: auto;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.project__template--two-tall-right-stack .template__stacked .project__image .expander {
  padding-bottom: 53.662%;
}

.project__template--four-tall-left-stack {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.project__template--four-tall-left-stack .template__stacked {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32.17%;
}
.project__template--four-tall-left-stack .template__stacked .project__image {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
}
.project__template--four-tall-left-stack .template__stacked .project__blurb {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}
.project__template--four-tall-left-stack > .project__image {
  width: 66.007%;
  margin-left: 1.667%;
}
.project__template--four-tall-left-stack > .project__image .expander {
  padding-bottom: 110.479%;
}

@font-face {
  font-family: 'Oxygen';
  src: url("/fonts/oxygen/oxygen-light-webfont.eot");
  src: url("/fonts/oxygen/oxygen-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/oxygen/oxygen-light-webfont.woff2") format("woff2"), url("/fonts/oxygen/oxygen-light-webfont.woff") format("woff"), url("/fonts/oxygen/oxygen-light-webfont.ttf") format("truetype"), url("/fonts/oxygen/oxygen-light-webfont.svg#oxygenlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("/fonts/bebas/bebasneue_regular-webfont.eot");
  src: url("/fonts/bebas/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/bebas/bebasneue_regular-webfont.woff2") format("woff2"), url("/fonts/bebas/bebasneue_regular-webfont.woff") format("woff"), url("/fonts/bebas/bebasneue_regular-webfont.ttf") format("truetype"), url("/fonts/bebas/bebasneue_regular-webfont.svg#bebas_neue_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url("/fonts/roboto-slab/robotoslab-light-webfont.eot");
  src: url("/fonts/roboto-slab/robotoslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-slab/robotoslab-light-webfont.woff2") format("woff2"), url("/fonts/roboto-slab/robotoslab-light-webfont.woff") format("woff"), url("/fonts/roboto-slab/robotoslab-light-webfont.ttf") format("truetype"), url("/fonts/roboto-slab/robotoslab-light-webfont.svg#roboto_slablight") format("svg");
  font-weight: 300;
  font-style: normal;
}
