---
title: "ARTS A Reason to Survive"
posted: 2015-04-19
project: true
layout: project.hbs
projectImage: "/assets/arts/arts-link.jpg"
---

  <header class="project__header">
    <img src="/assets/arts/arts-header.jpg" alt="">
  </header>

  <article class="project__content">
    <div class="project__info">
      <h1>ARTS - A REASON <br/> TO SURVIVE</h1>
      <ul>
        <li>Branding</li>
        <li>Client Project</li>
        <li>Design for Good</li>
      </ul>
    </div>
    <div class="project__description">
      <p>Troubled kids end up getting themselves into more challenges than most, largely due to feeling overwhelmed and trying to find an outlet. These kids need a productive way to deal with their problems while growing into better people. The ARTS (A Reason To Survive) of National City, CA is an individual non-profit organization dedicated to helping troubled youth find an escape and heal through creative expression. Its mission is centered on the idea that art is the basis of human personality and the most effective way to release stress. This allows the kids tackle life’s challenges in a healthy and safe manner. The exciting and lively vibe of ARTS, and its presence in the greater community, is portrayed throughout the brand.</p><p>
      CHALLENGE</br>
      Create a professional yet fun brand that will spark both the interest of kids and the respect of adults.<p>
      SOLUTION</br>
      Use bright colors, lively typography and graphics, and dramatic photography to convey an exciting, friendly, and progressive organization.</p>
    </div>
  </article>

  <section class="project__identity">
    <section class="identity__sketch">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/arts/arts-logo1.jpg" alt="">
    </section>
    <section class="identity__finished">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/arts/arts-logo2.jpg" alt="">
    </section>
    <section class="identity__description">
      <h1>Logo</h1>
      <p>The three ARTS logos below represent the center at different levels. The first option is dynamic in that the backround photo is changed for different applications, with photos of different programs/activies offered at the center. The second is much more obvious and upfront, ARTS written in paintbrush lettering. The third represents the chaos in the lives of the kids who come into center, and symbolizes how arts takes all of this chaos and helps its students move into one cohesive, together shape.</p>
    </section>
  </section>

  <section class="project__template project__template--tri-text-double">
    <div class="project__template-row">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/arts/arts-logo3.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/arts/arts-logo4.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/arts/arts-logo5.jpg" alt="">
      </section>
    </div>
    <div class="project__template-row">
      <section class="project__blurb">
        <h1>Brand Pieces</h1>
        <p>Journals would be given out to the kids so they can vent and write their thoughts and experiences. The windows of the center would be colored so as to seem more lively and vibrant, and on the inside the sun would cast colors inside of the lobby. Lastly, a brochure explaining ARTS' three-step program should be inviting and friendly.</p>
      </section>
      <section class="project__image project__image--double">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/arts/arts-journals.jpg" alt="">
      </section>
    </div>
  </section>

  <section class="project__template project__template--two-tall-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/arts/arts-env.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/arts/arts-brochure.jpg" alt="">
    </section>
  </section>

  <section class="project__template project__template--two-right">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/arts/arts-web1.jpg" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/arts/arts-web2.jpg" alt="">
    </section>
  </section>

  <section class="project__template project__template--two-tall-right-stack">
    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/arts/arts-banners1.jpg" alt="">
    </section>

    <section class="template__stacked">
      <section class="project__blurb">
        <h1>Pole Banners</h1>
        <p>The center itself is a little out-of-the-way, so pole banners would not only help people find it but they would also inform people about the center. Perhaps kids walking to school or parents driving aroundw would see the banners and go to the ARTS center.</p>
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/arts/arts-banners2.jpg" alt="">
      </section>
    </section>

  </section>


  <section class="project__template project__template--four-tall-left-stack">

    <section class="template__stacked">
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/arts/arts-catalog1.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/arts/arts-catalog2.jpg" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img class="pos-image" src="/assets/arts/arts-catalog3.jpg" alt="">
      </section>
      <section class="project__blurb">
        <h1>Program Guide</h1>
        <p>This guide would explain to students, parents, and donors, the happenings of ARTS such as programs, activities, events, philosophy, classes, and many other aspects of the center.</p>
      </section>
    </section>

    <section class="project__image">
      <div class="expander"></div>
      <img class="pos-image" src="/assets/arts/arts-catalog4.jpg" alt="">
    </section>
  </section>


  <footer class="project__footer">
    <img src="/assets/arts/arts-bottom.jpg" alt="" class="footer__image">
  </footer>