

%clearfix {
  &:before,
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}


%menulink {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

%module__image--full {

  img {
    width: 100%;
    display: block;
  }
}


%header-font {
  font-family: $font-bebas;
  letter-spacing: 0.05em;
}

%project-bob {
  @media (max-width: 850px) {
    width: 100% !important;
    margin-left: 0 !important;
  }
}