*,
*:before,
*:after {
  box-sizing: border-box;
}


html,
body {
  font-family: $font-body;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
}

h1, h2,
h3, h4,
h5, h6 {
  margin: 0;
  line-height: 1.5;
}

p {
  margin-top: 0;
}


main {
  padding-bottom: 82px;
  min-height: Calc(100% - 110px);
}