

// Social Icon Colors
$c-dribble: rgb(234,76,137);
$c-behance: rgb(63, 192, 240);
$c-twitter: rgb(85, 172, 238);
$c-linkedin: rgb(0,119,181);

// I'm feeling kinda gray tonight
$c-mercury: rgb(226,226,226);
$c-gray: rgb(127,127,127);

$c-white: rgb(255,255,255);
$c-black: rgb(0,0,0);


$c-background: rgb(247,243,241);


$c-font-bebas: "Bebas Neue", sans-serif;
$c-font-oxygen: "Oxygen", sans-serif;


$c-font-body: $c-font-oxygen;