.about {
  display: flex;
  padding: 100px $default-margin;

  @include media-mobile {
    display: block;
  }

  &__blurb {
    width: span(1);

    h1 {
      @extend %header-font;
      font-size: 32px;
    }

    ul {
      // padding-left: 1em;
      padding-left: 20px;
      text-transform: uppercase;
    }
    @extend %project-bob;

    @include media-mobile {
      margin-bottom: $default-margin;
    }
  }

  &__info {
    width: span(2);
    margin-left: $margin;

    p {
      line-height: 2;
    }
    @extend %project-bob;
  }
}