<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <title>{{#if title}}{{title}} | {{/if}}Amy Co Design</title>
    <link rel="stylesheet" href="/css/main.min.css">
  </head>
  <body>

    {{>site-svg}}

    {{>site-header}}

    <main class="content">

      {{> body}}
    </main>

    {{>site-footer}}

  </body>
</html>
