---
layout: page.hbs
---

<section class="project">

  <header class="project__header">
    <img src="http://placehold.it/1200x550" alt="">
  </header>

  <article class="project__content">
    <div class="project__info">
      <h1>Westbound <br/> Bar &amp; Grill</h1>
      <ul>
        <li>Branding</li>
        <li>Packing</li>
        <li>Hospitality</li>
      </ul>
    </div>
    <div class="project__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem magnam excepturi placeat atque dolorem consectetur amet fuga nesciunt fugiat deserunt voluptatum beatae enim totam soluta, veniam iusto ullam cum nam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem magnam excepturi placeat atque dolorem consectetur amet fuga nesciunt fugiat deserunt voluptatum beatae enim totam soluta, veniam iusto ullam cum nam?</p>
    </div>
  </article>

  <section class="project__identity">
    <section class="identity__sketch">
      <div class="expander"></div>
      <img src="http://placehold.it/300x300" alt="">
    </section>
    <section class="identity__finished">
      <div class="expander"></div>
      <img src="http://placehold.it/300x300" alt="">
    </section>
    <section class="identity__description">
      <h1>Logo</h1>
      <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
    </section>
  </section>

  <section class="project__template project__template--tri-text-double">
    <div class="project__template-row">
      <section class="project__image">
        <div class="expander"></div>
        <img src="http://placehold.it/400x300" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img src="http://placehold.it/400x300" alt="">
      </section>
      <section class="project__image">
        <div class="expander"></div>
        <img src="http://placehold.it/400x300" alt="">
      </section>
    </div>
    <div class="project__template-row">
      <section class="project__blurb">
        <h1>Poster</h1>
        <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
      </section>
      <section class="project__image project__image--double">
        <div class="expander"></div>
        <img src="http://placehold.it/800x500" alt="">
      </section>
    </div>
  </section>

  <section class="project__template project__template--two-tall-right">
    <section class="project__image">
      <div class="expander"></div>
      <img src="http://placehold.it/400x675" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img src="http://placehold.it/800x675" alt="">
    </section>
  </section>

  <section class="project__template project__template--two-right">
    <section class="project__image">
      <div class="expander"></div>
      <img src="http://placehold.it/800x450" alt="">
    </section>
    <section class="project__image">
      <div class="expander"></div>
      <img src="http://placehold.it/400x450" alt="">
    </section>
  </section>

  <section class="project__template--two-tall-right-stack">
    <section class="project__image">
      <img src="" alt="">
    </section>

    <section class="template__stacked">
      <section class="project__blurb">
        <h1>Coasters &amp; BBQ Sauce</h1>
        <p>WESTBOUND developed from the notion that the Wild West was a free, rugged, untouched stretch of desert. The idea was to combine all of the traditional attributes of the Wild West (cowboys, horses, sheriffs) with modern design to create a rough masculine brand with a contemporary feel.</p>
      </section>
    </section>

  </section>


  <section class="project__template--four-tall-left-stack">

    <section class="template__stacked">
      <section class="project__image"><img src="" alt=""></section>
      <section class="project__image"><img src="" alt=""></section>
      <section class="project__image"><img src="" alt=""></section>
      <section class="project__image"><img src="" alt=""></section>
    </section>

    <section class="project__img"><img src="" alt=""></section>
  </section>


  <footer class="project__footer">
    <img src="http://placehold.it/1200x900" alt="" class="footer__image">
  </footer>

</section>